---
permalink: "/research/autophagy/"
---

{% include header.html %}


	<div class="wrapper style1">
				<div class="container1">
					<article id="main" class="special">
						<header>
							<h2><a href="#">Research Project: Autophagy and Sleep</a></h2>
							<p>
								Learn more about research objectives, funding, job openings and collaborators 
							</p>
						</header>
						<!-- <a href="#" class="image featured labphotos"><img src="{{site.url}}/images/groupphoto.jpeg" alt="" /></a> -->
											
					</article>

					<br>
					<div class="padding_custom10 " id="sleep">
						<div class="row box  ">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/autophagy.png" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Autophagy as a phylogenetically conserved mediator of sleep benefits</a></h3>
								</header>
								<p>
								
								Our overarching hypothesis is that some health benefits linked to sleep are dependent on functional autophagy. We propose to (1) elucidate the specific function of autophagy during sleep in order to (2) manipulate autophagy to reverse the neural effects of subpar sleep. 
								<br>
								The Boccara and Knævelsrud labs are uniquely positioned to tackle this question by combining the advanced sleep recording and sleep modulating tools developed in the Boccara lab with the autophagy tools developed in the Knævelsrud lab. 
								<br>
								In this joint project, we will develop tools and strategies to study autophagy during sleep in an invertebrate (Drosophila) and a rodent (rat) model of sleep deprivation. Our ambition is to highlight autophagy as a phylogenetically conserved mediator of sleep-benefits at a cellular level – thus opening very concrete new translational avenues for much needed therapeutic applications.<br><br>


								<b>Funding:</b>
								<ul>	
									<li>NCMM-joint postdoctoral fellowship. </li>
									<li>Please send spontaneous application to <a href="mailto:charlotte.boccara@nccm.uio.no" >Dr. Charlotte Boccara </a> or <a href="mailto:helene.knavelsrud@medisin.uio.no" >Dr. Helene Knavelsrud</a></li>
									<li><a href="https://www.jobbnorge.no//en/available-jobs/job/260792/post-doctoral-researcher-position-in-phylogenetic-systems-neurosciences-at-the-universty-of-oslo" target="_blank"> See official announcement here</a></li>

								</ul>	
							 

								<b>Team:</b>
								<ul>
									<li>Forskerlinje: Halvor Ullern</li>
									<li>Co-PI: Dr. Helene  Knavelsrud : <a href="https://www.med.uio.no/imb/english/research/groups/cellstress/index.html" target="_blank">Lab Website</a></li>
									<li>Co-PI: Dr. Charlotte Boccara</li>
									<li>Recruiting Postdoctoral Researcher: See call here</li>
								</ul>	
								<b>Methods:</b>
								<ul>
									<li>In vivo electrophysiology (rodent)</li>
									<li>Cellular biology</li>
									<li>Drosophila genetics</li>
									<li>Activity monitoring and imaging</li>
								</ul>	

								<br><br>



								</p>				
							</div>
						
						</div>
						
					</div>


					
					
					
					
					
				</div>

			</div>


			<div class="grayline"></div>

{% include footer.html %}