---
permalink: "/hiring/"
---

{% include header.html %}				

		
				<article id="main" class="special margintop10">

					<header>
						<h2><a href="">We are hiring!</a></h2>
						<p>
							Work with us in a diverse and multidisciplinary enviroment of Oslo Science Park. <br>Our lab is located in the vibrant city of Oslo surrounded by beautiful natural landscapes.
						</p>
					</header>				
				</article>	
		
					
				<video autoplay muted loop id="myVideo">
				  <source src="{{site.url}}/images/oslo_timelapse_shorter.mp4" type="video/mp4">
				</video>
				<p class='vidcaption'>Timelapse of Oslo by <a href="https://www.youtube.com/c/TorjanHaaland" target="_blank">Trojan Haaland</a><p>

			
				<!-- <div class="wrapper style1"> -->
				<div class="container_custom1">	

					<article>
		
						<header class="special vidcaption">
							<p>
							Learn more about the open positions in our lab
							</p>
						</header>	
					</article>	

					<section  class="padding_custom10">
						<header>
							<h3>Spontaneous Inquiries</h3>
						</header>
						<p>
							 We are always welcoming enthusiastic and talented individuals to reach out if they are interested in joining our team. Whether you are a master student, a PhD or a postdoctoral researcher. We may also have openings for research assistants and engineers.  There are several schemes to apply for external and internal fundings.<br>Please contact Dr. Charlotte Boccara [charlotte.boccara@ncmm.uio.no] with your spontaneous inquiries for job openings at all levels.

						</p>
						
					</section>
					

					<section class="padding_custom10">
						<header>
							<h3>Open Calls</h3>
						</header>
						<header>
							<h3>Lab Manager / Research Assistant / Animal Technician Positions</h3>
						</header>
						<p>
							Announcements coming soon.<br>Please contact Dr. Charlotte Boccara [charlotte.boccara@ncmm.uio.no] if interested.

						</p>
						
					</section>

					<section class="padding_custom10">
						<header>
							<h3>PhD Positions</h3>
						</header>
						<header>
							<h3>PhD Fellowship in Sleep & Metabolism – <a href="https://www.med.uio.no/imb/english/research/projects/smartsense/index.html" target="_blank" >Smartsense Consortium</a></h3>
						</header>

						<div class="row">
							<div class="col-2 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/metabolism.png" alt="" /></span>
													
							</div>

							<div class="col-10 col-12-mobile special">
								<p>
							Applications are invited for a 3-year PhD Fellowship for an interdisciplinary project combining Systems Neuroscience and Metabolism to establish mouse models of adolescent sleep deprivation and investigate the impact of poor sleep during critical developmental periods on long-term metabolic imbalance.<br>Charlotte will be the main supervisor of the successful candidate.<br>Apply directly on Job Norge: Link to come shortly.

								</p>				
							</div>
						
						</div>
							
						
					</section>


					<section class="padding_custom10">
						<header>
							<h3>Postdoctoral Positions</h3>
						</header>
						<header>
							<h3>NCMM Postdoctoral Fellowship in Sleep & Autophagy – joint position with <a href="https://www.med.uio.no/imb/english/research/projects/finalphagy/index.html" target="_blank" >Dr. Knævelsrud</a></h3>
						</header>

						<div class="row">
							<div class="col-2 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/autophagy.png" alt="" /></span>
													
							</div>

							<div class="col-10 col-12-mobile special">
								<p>
							Applications are invited for a 2-to-3-year Researcher/Postdoctoral Fellowship for a project combining Cell Biology and Systems Neuroscience to study the interplay between sleep and autophagy. This joint project aims to develop tools and strategies to study autophagy during sleep in an invertebrate (Drosophila) and a rodent (rat) model of sleep deprivation. Our goal is to highlight autophagy as a phylogenetically conserved mediator of sleep-benefits at a cellular level.<br>The selected candidate will join two ERC-funded laboratories in Oslo: Helene Knævelsrud´s at the Institute of Basic Medical Sciences and Charlotte Boccara’s at NCMM.<br>Apply directly on Job Norge: <a href="https://www.jobbnorge.no/en/available-jobs/job/260792/post-doctoral-researcher-position-in-phylogenetic-systems-neurosciences-at-the-universty-of-oslo" target="_blank">See official announcement here</a>


								</p>				
							</div>
						
						</div>
							

						<header>
							<h3>BrainChip Postdoctoral Fellowship in Optogenetics – joint position with  <a href="https://www.med.uio.no/imb/english/people/aca/torkelh/brainchip/index.html" target="_blank" >Dr. Hafting</a></h3>
						</header>

						<div class="row">
							<div class="col-2 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/brainchip2.png" alt="" /></span>
													
							</div>

							<div class="col-10 col-12-mobile special">
								<p>Applications are invited for a 2-to-3-year Researcher/Postdoctoral Fellowship to study neural activity in vivo. The selected candidate will be part of “BrainChip”, an interdisciplinary project between the University of Oslo and engineers at Sintef, aiming to develop wireless devices for long-term recording and manipulation of multiunit activity. This position is aimed at experienced electrophysiologists. There will be some flexibilities as to the research subject and inputs from the candidate will be welcomed!<br>Apply directly on Job Norge: <a href="https://www.jobbnorge.no/en/available-jobs/job/261996/researcher-position-in-systems-neurosciences" target="_blank">See official announcement here</a>


								</p>				
							</div>
						
						</div>



						<header>
							<h3>Norpod postdoctoral Fellowship – joint position with <a href="https://www.synaptic-logistics-lab.com/" target="_blank" >Dr. Chao Sun (Dandrite)</a></h3>
						</header>

						<div class="row">
							<div class="col-2 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/emblpartner.png" alt="" /></span>
													
							</div>

							<div class="col-10 col-12-mobile special">
								<p>Applications are invited for a 2-to-3-year Postdoctoral Fellowship to investigate the regulation of protein clearance during sleep by an important cellular signal for protein homeostasis. By integrating sleep behaviour experiments, subcellular biochemistry and proteomics, this project aims to unveil how synapses use ubiquitin to rebalance molecular homeostasis during sleep.<br>The selected candidate will join the laboratory of Dr Chao Sun in Denmark while making several short-to-mid length stays in the BoccaraLab in Oslo to collect animal data. Accommodations in Oslo will be provided.<br> <a href="https://projects.au.dk/nordic-embl-partnership/collaborations/nordforsk-norpod-postdoctoral-programme" target="_blank">Apply here</a>


								</p>				
							</div>
						
						</div>
						
					</section>

					
 
				</div>

				
		

			<div class="grayline"></div>


{% include footer.html %}