---
permalink: "/hiring/"
---

{% include header.html %}				

		
				<article id="main" class="special margintop10">

					<header>
						<h2><a href="">We are hiring!</a></h2>
						<p>
							Work with us in a diverse and multidisciplinary enviroment of Oslo Science Park. <br>Our lab is located in the vibrant city of Oslo surrounded by beautiful natural landscapes.
						</p>
					</header>				
				</article>	
		
					
				<video autoplay muted loop id="myVideo">
				  <source src="{{site.url}}/images/oslo_timelapse_shorter.mp4" type="video/mp4">
				</video>
				<p class='vidcaption'>Timelapse of Oslo by <a href="https://www.youtube.com/c/TorjanHaaland" target="_blank">Trojan Haaland</a><p>

			
				<!-- <div class="wrapper style1"> -->
					<div class="container_custom1">	

					<article>
		
						<header class="special vidcaption">
							<p>
							Learn more about the open positions in our lab
							</p>
						</header>	
					</article>	
					

					<section class="padding_custom10">
						<header>
							<h3>Ph.D. Student</h3>
						</header>
						<p>
							The Boccara lab at NCMM, University of Oslo is seeking applications for a fully funded PhD position in Sleep Neuroscience with a specific focus on in vivo electrophysiology. This position offers a unique opportunity for a highly motivated and talented individual to contribute to cutting-edge research in the field of sleep and its impact on brain function.
							<br>

							Research Project:
							The successful candidate will join a dynamic and interdisciplinary research team that investigates the neural mechanisms underlying sleep and its role in cognitive processes. The project aims to explore the electrophysiological correlates of sleep in animal models, with a particular focus on understanding the dynamics of neuronal activity during different stages of sleep. The project will involve the use of advanced electrophysiological techniques, such as multi-unit recordings, local field potentials, and potentially single-unit recordings, to decipher the complex patterns of brain activity during sleep.
						</p>
						
					</section>

					<section class="padding_custom10">
						<header>
							<h3>Postdoctoral Researcher</h3>
						</header>
						<p>
							Applications are invited for a 2 to 3 year Postdoctoral Fellowship/Researcher for an interdisciplinary project combining Cell Biology and Systems Neuroscience to study the interplay between sleep and autophagy from a phylogenetic perspective. The selected candidate will join two ERC-funded laboratories at the University of Oslo: Helene Knævelsrud´s group Cell Stress and Cancer at the Institute of Basic Medical Sciences and Charlotte Boccara’s group Systems Neuroscience and Sleep at the Norwegian Centre for Molecular Medicine.
							<br><br>
							<a href="https://www.jobbnorge.no//en/available-jobs/job/260792/post-doctoral-researcher-position-in-phylogenetic-systems-neurosciences-at-the-universty-of-oslo" target="_blank"> See official announcement here</a>
						</p>
						
					</section>


					<!-- <section  class="padding_custom10">
						<header>
							<h3>Data Analyst</h3>
						</header>
						<p>
							The Boccara lab at NCMM, University of Oslo is seeking applications for a highly skilled and motivated Data Analyst in Sleep Neuroscience with expertise in Computational Neuroscience. This position offers an exciting opportunity to contribute to cutting-edge research in the field of sleep and its role in cognitive development

							<br>
							Research Project:
							The successful candidate will join a dynamic and interdisciplinary research team that investigates the neural mechanisms underlying sleep and its impact on cognitive processes. The project aims to utilize advanced computational techniques to analyze large-scale sleep-related datasets, including ECoG recordings, extracellular field potentials, hypnogram, and behavioral measurements. The project will involve developing and applying computational models to unravel the complex patterns of brain activity and understand the functional significance of sleep stages in cognitive development.
						</p>
						
					</section>
 -->
					<section  class="padding_custom10">
						<header>
							<h3>Spontaneous Inquiries</h3>
						</header>
						<p>
							 We are reaching out to invite spontaneous inquiries from enthusiastic and talented individuals interested in joining our team and contributing to groundbreaking research in neuroscience. Please contact Dr. Charlotte Boccara [charlotte.boccara@ncmm.uio.no] with your spontaneous inquiries for job openings at all levels.
						</p>
						
					</section>
 
					</div>
				<!-- </div>	
 -->
			
				
		

			<div class="grayline"></div>


{% include footer.html %}