---
permalink: "//"
---

{% include header.html %}


		<div id='particle-container' >

			<span id='labname' >
				Sleep and Cognitive Development Lab
				<p id='lablocation' >
					Norwegian Centre for Molecular Medicine, Oslo, Norway
				</p>
			</span>
				
		</div>	<!-- End Particle Container -->


		<div class="wrapper" id="research_lines">
			<section id="features" class="container special">
				
				<header >
					<br>
					<h2>Hi. Welcome to <strong>Boccara Lab</strong>.</h2>
					<p>
					We combine high density electrophysiology, optogenetics and computational analyses to investigate how sleep contributes to healthy cognitive development. The lab is focused on the following research lines:
					</p>
				</header>

				<div class="row padding_custom10" >
					<article class="col-4 col-12-mobile special">
						<a href="{{site.baseurl}}research#sleep" target="_blank"><span class="image featured image_border1"><img src="images/sleep_cog.png" alt="" /></span></a>
						<header>
							<h3>Sleep & Cognitive Development</h3>
						</header>
						<p>
							Decoding immature neural activity from multiple brain areas in freely behaving rodent pups to reveal mechanisms at play during developmental sleep.
						</p>
					</article>
					
					<article class="col-4 col-12-mobile special">
						<a href="{{site.baseurl}}research#sleepdeprivation" target="_blank"><span class="image featured image_border1"><img src="images/chemogenetics.png" alt="" /></span></a>
						<header>
							<h3><span>Models of sleep deprivation</span></h3>
						</header>
						<p>
							Exploiting recent advance in gene editing, molecular and viral tools to engineer rodent models of developmental sleep deprivation (Chemogenetic, Optogenetic, CRISPR)
						</p>
					</article>

					<article class="col-4 col-12-mobile special">
						<a href="{{site.baseurl}}research#technologies" target="_blank"><span class="image featured image_border1"><img src="images/brain electrode.png" alt="" /></span></a>
						<header>
							<h3><span>Technological Innovations </span></h3>
						</header>
						<p>
							Engineering wireless and fully implantable electrophysiological “brain machine interface” to decode and manipulate brain activity in real time in freely-behaving rodents. 
						</p>
					</article>
				</div>

				<br><br>

				<div class="row padding_custom10" >
					<article class="col-4 col-12-mobile special">
						<a href="{{site.baseurl}}research#computational" target="_blank"><span class="image featured image_border1"><img src="images/lorenz.png" alt="" /></span></a>
						<header>
							<h3><span>Computational Tools</span></h3>
						</header>
						<p>
							Developing analytical pipelines and machine learning algorithms to automatically detect and decode multiunit activity codes and oscillatory events across brain regions.
						</p>
					</article>
					
					<article class="col-4 col-12-mobile special">
						<a href="{{site.baseurl}}research#grid" target="_blank"><span class="image featured image_border1"><img src="images/grid2.png" alt="" /></span></a>
						<header>
							<h3><span>Decoding Brain Representations</span></h3>
						</header>
						<p>
							Revealing sleep and wake neural computations that support learning, updating and consolidation of memory traces, as well as the neural code underlying spatial cognition.
						</p>
					</article>

					

					<article class="col-4 col-12-mobile special">
						<a href="{{site.baseurl}}research#metabolism" target="_blank"><span class="image featured image_border1"><img src="images/metabolism.png" alt="" /></span></a>
						<header>
							<h3><span>Metabolism and Sleep</span></h3>
						</header>
						<p>
							Monitoring the communications between the brain and the adipose tissue during adolescent sleep to better understand how bad sleep habits may lead to the emergence of metabolic disorders
						</p>
					</article>
				</div>

				<br><br>
				<div class="row padding_custom10" >
					<article class="col-4 col-12-mobile special">
						<a href="{{site.baseurl}}research/autophagy" target="_blank"><span class="image featured image_border1"><img src="images/autophagy.png" alt="" /></span></a>
						<header>
							<h3><span>Autophagy and Sleep</span></h3>
						</header>
						<p>
							Developing tools and strategies to study autophagy during sleep in an invertebrate (Drosophila) and a rodent (rat) model of sleep deprivation.
					</article>
					
				</div>
	
					
			</section>
		</div>	

		

		<div class="grayline">
			
		</div>

		<section class=" carousel container special " id="news">

			<header>
					<h2>News from the Lab</h2>
					<p>
					Stay updated with the latest information on funding, research, lab outings, seminars and recruitments in the lab.
					</p>
			</header>
			<div class="reel">


				<article>
					<a href="{{site.baseurl}}news#nordicneuro24" target="_blank" class="image featured image_border1"><img src="images/nordic_neuro.gif" alt="" /></a>
					<header>
						<h3><a href="">Nordic Neuroscience Meeting</a></h3>
					</header>
					<p>The lab hosted a symposium at 4th Nordic neuroscience meeting in Copenhagen <br></p>
				</article>


				<article>
					<a href="{{site.baseurl}}news#shuffleboard24" target="_blank" class="image featured image_border1"><img src="images/shuffleboard.gif" alt="" /></a>
					<header>
						<h3><a href="">Lab Outing: Shuffleboard</a></h3>
					</header>
					<p> We had a fun evening playing shuffleboard and arcade games at Tilt<br> <br></p>
				</article>


				<article>
					<a href="{{site.baseurl}}news#letizia_recruitment" target="_blank" class="image featured image_border1"><img src="images/letizia.jpeg" alt="" /></a>
					<header>
						<h3><a href="">New Lab Recruit!</a></h3>
					</header>
					<p>Welcome to Letizia, who joins the lab as a data analyst!<br><br></p>
				</article>

				<article>
					<a href="{{site.baseurl}}news#ane_solveig" target="_blank" class="image featured image_border1"><img src="images/ane_solveig.gif" alt="" /></a>
					<header>
						<h3><a href="">New Master's Students!</a></h3>
					</header>
					<p>Welcome to Ane and Solveig, who will puruse their master's thesis project in the lab!<br></p>
				</article>


				<article>
					<a href="{{site.baseurl}}news#christmas2023" target="_blank" class="image featured image_border1"><img src="images/holidays2023.gif" alt="" /></a>
					<header>
						<h3><a href="">Christmas Party!</a></h3>
					</header>
					<p>We celebrated the end of the year festivities at NCMM and a lab potluck!!! <br> <br></p>
				</article>

				<article>
					<a href="{{site.baseurl}}news#adrian_grant" target="_blank" class="image featured image_border1"><img src="images/copenhagen.png" alt="" /></a>
					<header>
						<h3><a href="">New Funding for Adrian!</a></h3>
					</header>
					<p>Congrats to Adrian for securing funding from University of Copenhagen's Support Foundation!<br> </p>
				</article>

				<article>
					<a href="{{site.baseurl}}news#bouldering" target="_blank" class="image featured image_border1"><img src="images/bouldering.gif" alt="" /></a>
					<header>
						<h3><a href="">Lab Outing: Bouldering</a></h3>
					</header>
					<p>Our lab enjoyed bouldering at Oslo Klatresenter in Skullerud Park<br><br> </p>
				</article>

				<article>
					<a href="{{site.baseurl}}news#ncmmphd" target="_blank" class="image featured image_border1"><img src="images/ncmmlogo.jpg" alt="" /></a>
					<header>
						<h3><a href="">NCMM PhD Course</a></h3>
					</header>
					<p>We hosted a 2 weeks PhD course on Molecular Medicine at NCMM<br><br> </p>
				</article>

				<article>
					<a href="{{site.baseurl}}news#vgkhrono" target="_blank" class="image featured image_border1"><img src="images/vgkhrono.png" alt="" /></a>
					<header>
						<h3><a href="">Lab in National News!</a></h3>
					</header>
					<p>Our research was featured in two national newspapers (VG and Khrono) <br><br> </p>
				</article>

				<article>
					<a href="{{site.baseurl}}news#sandra" target="_blank" class="image featured image_border1"><img src="images/sandra.jpeg" alt="" /></a>
					<header>
						<h3><a href="">Welcome to Sandra!</a></h3>
					</header>
					<p>Research assistant in our lab with MSc in Neuroscience from UiO <br><br></p>
				</article>
				
				<article>
					<a href="{{site.baseurl}}news#ieee_paper" target="_blank" class="image featured image_border1"><img src="images/ieee.png" alt="" /></a>
					<header>
						<h3><a href="">New Publication!</a></h3>
					</header>
					<p>Our new paper led by Florian Dapsance is now out in IEEE Sensors Letters<br><br></p>
				</article>


				<article>
					<a href="{{site.baseurl}}news#embl_helsinki" target="_blank" class="image featured image_border1"><img src="images/finland.gif" alt="" /></a>
					<header>
						<h3><a href="">EMBL Conference</a></h3>
					</header>
					<p>Our lab participated with posters and a talk at EMBL conference in Helsinki<br><br></p>
				</article>

				<article>
					<a href="{{site.baseurl}}news#erc" target="_blank" class="image featured image_border1"><img src="images/erc.gif" alt="" /></a>
					<header>
						<h3><a href="">ERC Starting Grant!</a></h3>
					</header>
					<p>Congrats to the lab on securing ERC Starting Grant!<br><br></p>
				</article>


				<article>
					<a href="{{site.baseurl}}news#" target="_blank" class="image featured image_border1"><img src="images/brainchip.jpg" alt="" /></a>
					<header>
						<h3><a href="">Project Update: Brain Chip </a></h3>
					</header>
					<p>We are happy to share some latest advances in Brain Chip project<br><br></p>
				</article>


				
				<article>
					<a href="{{site.baseurl}}news#jie" target="_blank" class="image featured image_border1"><img src="images/jie.jpeg" alt="" /></a>
					<header>
						<h3><a href="">New Postdoc in Smartsense!</a></h3>
					</header>
					<p>Welcome Jie to Smartsense - Physics node led by Ørjan Martinsen (co-supervised by Charlotte)</p>
				</article>

				<article>
					<a href="{{site.baseurl}}news#summer_party" target="_blank" class="image featured image_border1"><img src="images/summer.gif" alt="" /></a>
					<header>
						<h3><a href="">Summer Party!</a></h3>
					</header>
					<p>Our lab and the institute enjoyed the roof-top party at Oslo Science Park<br><br></p>
				</article>

				<article>
					<a href="{{site.baseurl}}news#adrian_fellowship" target="_blank" class="image featured image_border1"><img src="images/adrian.png" alt="" /></a>
					<header>
						<h3><a href="">New Research Fellowship!</a></h3>
					</header>
					<p>Congrats to Adrain for securing Dagmar Marshall Fonden Fellowship<br><br></p>
				</article>

				<article>
					<a href="{{site.baseurl}}news#summer_internships" target="_blank" class="image featured image_border1"><img src="images/henriette_sunniva.gif" alt="" /></a>
					<header>
						<h3><a href="">2 Summer Internships!</a></h3>
					</header>
					<p>Congrats to Henriette and Sunniva for securing UIO life science internship<br><br></p>
				</article>

				<article>
					<a href="{{site.baseurl}}news#ruchi_thesis_defense" target="_blank" class="image featured image_border1"><img src="images/oslomet.png" alt="" /></a>
					<header>
						<h3><a href="">Successful Master's Thesis</a></h3>
					</header>
					<p>Congrats to Ruchi Saigal for the completion of her Master's Degree<br><br></p>
				</article>

				<article>
					<a href="{{site.baseurl}}news#laure_thesis_defense" target="_blank" class="image featured image_border1"><img src="images/laure.png" alt="" /></a>
					<header>
						<h3><a href="">Successful Master's Thesis</a></h3>
					</header>
					<p>Congrats to Laure Gossé for the completion of her Master's Degree<br><br></p>
				</article>

				<article>
					<a href="{{site.baseurl}}news#ncmm_sweden" target="_blank" class="image featured image_border1"><img src="images/retreat.png" alt="" /></a>
					<header>
						<h3><a href="">NCMM Retreat in Sweden</a></h3>
					</header>
					<p>The lab had a relaxing time at our institute retreat in Sweden<br><br></p>
				</article>

				<article>
					<a href="{{site.baseurl}}news#mats_fellowship" target="_blank" class="image featured image_border1"><img src="images/mats.png" alt="" /></a>
					<header>
						<h3><a href="">New Fellowship!</a></h3>
					</header>
					<p>Congrats to Mats for securing Forskerlinjen Fellowship<br><br></p>
				</article>

				<article>
					<a href="{{site.baseurl}}news#ajfond" target="_blank" class="image featured image_border1"><img src="images/ajfond.png" alt="" /></a>
					<header>
						<h3><a href="">New Research Grant!</a></h3>
					</header>
					<p>Congrats to the lab on new funding from Andres Jahres Fond<br><br></p>
				</article>

				<article>
					<a href="{{site.baseurl}}news#jerome" target="_blank" class="image featured image_border1"><img src="images/jerome.png" alt="" /></a>
					<header>
						<h3><a href="">Guest Speaker</a></h3>
					</header>
					<p>Thanks to Dr. Jérôme Epsztein for inspring us with 2 great talks in Oslo!<br><br></p>
				</article>

				<article>
					<a href="{{site.baseurl}}news#verona2023" target="_blank" class="image featured image_border1"><img src="images/verona.gif" alt="" /></a>
					<header>
						<h3><a href="">Hippocampus Conference</a></h3>
					</header>
					<p>Our lab had 3 presentations at Hippocampus Conference in Verona<br><br></p>
				</article>

				<article>
					<a href="{{site.baseurl}}news#damien_recruited" target="_blank"  class="image featured image_border1"><img src="images/damien.png" alt="" /></a>
					<header>
						<h3 class=""><a href="">New Postdoc in Smartsense!</a></h3>
					</header>
					<p>Welcome Damien to Smartsense - Molmed metabolic node led by N. Briand (co-supervised by Charlotte)</p>
				</article>


				<article>
					<a href="{{site.baseurl}}news#christmas2022" target="_blank" class="image featured image_border1"><img src="images/Christmas 2022.png" alt="" /></a>
					<header>
						<h3><a href="">NCMM Christmas Party</a></h3>
					</header>
					<p>Our lab at the institute christmas party at Oslo Science Park <br><br></p>
				</article>


				<article>
					<a href="{{site.baseurl}}news#brijesh_recruited" target="_blank"  class="image featured image_border1"><img src="images/brijesh.png" alt="" /></a>
					<header>
						<h3><a href="">New Lab Recruit!</a></h3>
					</header>
					<p>Welcome to Brijesh, our new Postdoc, who comes from India <br><br></p>
				</article>

				<article>
					<a href="{{site.baseurl}}news#florian_recruited" target="_blank"  class="image featured image_border1"><img src="images/florian.png" alt="" /></a>
					<header>
						<h3><a href="">New PhD in Smartsense!</a></h3>
					</header>
					<p>Welcome Florian to Smartsense - Physics node led by Ørjan Martinsen (co-supervised by Charlotte) <br><p>
				</article>

				<article>
					<a href="{{site.baseurl}}news#fens2022" target="_blank" class="image featured image_border1"><img src="images/fens2022.png" alt="" /></a>
					<header>
						<h3><a href="">FENS 2022</a></h3>
					</header>
					<p>Our lab presented two posters in Paris during FENS 2022 <br><br></p>
				</article>

				<article>
					<a href="{{site.baseurl}}news#french_restaurant" target="_blank" class="image featured image_border1"><img src="images/french_resto.png" alt="" /></a>
					<header>
						<h3><a href="">Lab Dinner</a></h3>
					</header>
					<p>Our team enjoyed a lovely evening in a tiny and cosy french restaurant<br><br></p>
				</article>

				<article>
					<a href="{{site.baseurl}}news#nfr_funding" target="_blank" class="image featured image_border1"><img src="images/nfrlogo.jpg" alt="" /></a>
					<header>
						<h3><a href="#">New Research Grant!</a></h3>
					</header>
					<p>Funding from NFR to engineer wireless probes to study sleep disorders<br><br></p>
				</article>

				<article>
					<a href="{{site.baseurl}}news#ela_recruited" target="_blank"  class="image featured image_border1"><img src="images/ela.png" alt="" /></a>
					<header>
						<h3><a href="">New Lab Recruit!</a></h3>
					</header>
					<p>Welcome to Ela, our new Master’s student intern, who comes from France <br><br><p>
				</article>

				<article>
					<a href="{{site.baseurl}}news#hiring_scientia"  target="_blank"  class="image featured image_border1"><img src="images/hiring.jpeg" alt="" /></a>
					<header>
						<h3><a href="">We are hiring!</a></h3>
					</header>
					<p>We are recruiting post doctoral researchers as Scientia Fellows <br><br></p>
				</article>


				<article>
					<a href="{{site.baseurl}}news#recruited_lina"  target="_blank" class="image featured image_border1"><img src="images/lina.png" alt="" /></a>
					<header>
						<h3><a href="">New Lab Recruit!</a></h3>
					</header>
					<p>Welcome to Lina, our new research assistant, who comes from Ukraine.<br><br></p>
				</article>

				<article>
					<a href="{{site.baseurl}}news#ukraine"  target="_blank" class="image featured image_border1"><img src="images/ukraine.png" alt="" /></a>
					<header>
						<h3><a href="">Solidarity with Ukraine!</a></h3>
					</header>
					<p> We extend our support to scientists in Ukraine<br><br></p>
				</article>

				<article>
					<a href="{{site.baseurl}}news#farewell_coralie" target="_blank" class="image featured image_border1"><img src="images/farewell_coralie.JPG" alt="" /></a>
					<header>
						<h3><a href="">Goodbye Coralie!</a></h3>
					</header>
					<p>We bid farewell to Coralie after her 6 months stay in Oslo.<br><br></p>
				</article>

				
				
			</div>
		</section>

		<div class="grayline"></div>

		<div class="wrapper style1">
			<section id="features" class="container special">
				<header>
					<h2>Research Funding</h2>
				<p>
				The lab is generously supported by research grants and fellowships from the following sources</p>
				</header>
				<div class="row padding_custom10">
					<article class="col-4 col-12-mobile special funding">
						<a href="#" class="image featured image_border1 "><img src="images/nfrlogo.jpg" alt="" /></a>				
					</article>
					
					<article class="col-4 col-12-mobile special funding">
						<a href="#" class="image featured image_border1 "><img src="images/ncmmlogo.jpg" alt="" /></a>
				
					</article>

					<article class="col-4 col-12-mobile special funding">
						<a href="#" class="image featured image_border1 "><img src="images/uiologo.jpg" alt="" /></a>
					
					</article>
				</div>

				<div class="row padding_custom10">
					<article class="col-4 col-12-mobile special funding">
						<a href="#" class="image featured image_border1 "><img src="images/embologo.jpg" alt="" /></a>
				
					</article>
					
					<article class="col-4 col-12-mobile special funding">
						<a href="#" class="image featured image_border1 "><img src="images/mclogo.jpg" alt="" /></a>
					</article>

					<article class="col-4 col-12-mobile special funding">
						<a href="#" class="image featured image_border1 "><img src="images/erc_logo.png" alt="" /></a>	
					</article>
				</div>
			</section>

		</div>

		<div class="grayline"></div>



{% include footer.html %}
