---
permalink: "//"
---

{% include header.html %}


		<div id='particle-container' >

			<span id='labname' >
				Sleep and Cognitive Development Lab
				<p id='lablocation' >
					Norwegian Centre for Molecular Medicine, Oslo, Norway
				</p>
			</span>
				
		</div>	<!-- End Particle Container -->


		<div class="wrapper" id="research_lines">
			<section id="features" class="container special">
				
				<header >
					<br>
					<h2>Hi. Welcome to <strong>Boccara Lab</strong>.</h2>
					<p>
					We combine high density electrophysiology, optogenetics and computational analyses to investigate how sleep contributes to healthy cognitive development. The lab is focused on the following three research lines:
					</p>
				</header>

				<div class="row padding_custom10" >
					<article class="col-4 col-12-mobile special">
						<a href="#" class="image featured "><img src="images/sleepbaby.jpg" alt="" /></a>
						<header>
							<h3><a href="#">Research Line 1</a></h3>
						</header>
						<p>
							Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
							porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
						</p>
					</article>
					
					<article class="col-4 col-12-mobile special">
						<a href="#" class="image featured"><img src="images/rats3_landing.jpg" alt="" /></a>
						<header>
							<h3><a href="#">Research Line 2</a></h3>
						</header>
						<p>
							Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
							porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
						</p>
					</article>

					<article class="col-4 col-12-mobile special">
						<a href="#" class="image featured"><img src="images/lorenz.png" alt="" /></a>
						<header>
							<h3><a href="#">Research Line 3</a></h3>
						</header>
						<p>
							Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
							porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
						</p>
					</article>
				</div>

				<br><br>

				<div class="row padding_custom10" >
					<article class="col-4 col-12-mobile special">
						<a href="#" class="image featured "><img src="images/pic01.jpg" alt="" /></a>
						<header>
							<h3><a href="#">Research Line 4</a></h3>
						</header>
						<p>
							Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
							porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
						</p>
					</article>
					
					<article class="col-4 col-12-mobile special">
						<a href="#" class="image featured"><img src="images/pic09.jpg" alt="" /></a>
						<header>
							<h3><a href="#">Research Line 5</a></h3>
						</header>
						<p>
							Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
							porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
						</p>
					</article>

					<article class="col-4 col-12-mobile special">
						<a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
						<header>
							<h3><a href="#">Research Line 6</a></h3>
						</header>
						<p>
							Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
							porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
						</p>
					</article>
				</div>
	
					
			</section>
		</div>	

		

		<div class="grayline">
			
		</div>

		<section class=" carousel container special " id="news">

			<header>
					<h2>News from the Lab</h2>
					<p>
					Stay updated with the latest information on funding, research, lab outings, seminars and recruitments in the lab.
					</p>
			</header>
			<div class="reel">

				<article>
					<a href="{{site.url}}news#french_resturant" target="_blank" class="image featured"><img src="{{site.url}}images/french_resto.png" alt="" /></a>
					<header>
						<h3><a href="">Lab Dinner</a></h3>
					</header>
					<p>Our team enjoyed a lovely evening in a tiny and cosy french restaurant</p>
				</article>

				<article>
					<a href="{{site.url}}news#nfr_funding" target="_blank" class="image featured"><img src="images/nfrlogo.jpg" alt="" /></a>
					<header>
						<h3><a href="#">New Research Grant!</a></h3>
					</header>
					<p>Funding from NFR to engineer wireless probes to study sleep disorders</p>
				</article>

				<article>
					<a href="{{site.url}}news#ela_recruited" target="_blank"  class="image featured"><img src="images/ela.png" alt="" /></a>
					<header>
						<h3><a href="">New Lab Recruit!</a></h3>
					</header>
					<p>Welcome to Ela, our new Master’s student intern, who comes from France <p>
				</article>

				<article>
					<a href="{{site.url}}news#hiring_scientia"  target="_blank"  class="image featured"><img src="images/hiring.jpeg" alt="" /></a>
					<header>
						<h3><a href="">We are hiring!</a></h3>
					</header>
					<p>We are recruiting post doctoral researchers as Scientia Fellows </p>
				</article>


				<article>
					<a href="{{site.url}}news#recruited_lina"  target="_blank" class="image featured"><img src="images/lina.JPG" alt="" /></a>
					<header>
						<h3><a href="">New Lab Recruit!</a></h3>
					</header>
					<p>Welcome to Lina, our new research assistant, who comes from Ukraine.</p>
				</article>

				<article>
					<a href="{{site.url}}news#ukraine"  target="_blank" class="image featured"><img src="images/ukraine.png" alt="" /></a>
					<header>
						<h3><a href="">Solidarity with Ukraine!</a></h3>
					</header>
					<p> We extend our support to scientists in Ukraine</p>
				</article>

				<article>
					<a href="{{site.url}}news#farewell_coralie" target="_blank" class="image featured"><img src="images/farewell_coralie.JPG" alt="" /></a>
					<header>
						<h3><a href="">Goodbye Coralie!</a></h3>
					</header>
					<p>We bid farewell to Coralie after her 6 months stay in Oslo.<p>
				</article>

				
				<!-- <article>
					<a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
					<header>
						<h3><a href="#">Varius magnis sollicitudin</a></h3>
					</header>
					<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
				</article> -->

				<!-- <article>
					<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
					<header>
						<h3><a href="#">Pulvinar sagittis congue</a></h3>
					</header>
					<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
				</article>

				<article>
					<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
					<header>
						<h3><a href="#">Fermentum sagittis proin</a></h3>
					</header>
					<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
				</article>

				<article>
					<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
					<header>
						<h3><a href="#">Sed quis rhoncus placerat</a></h3>
					</header>
					<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
				</article>

				<article>
					<a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
					<header>
						<h3><a href="#">Ultrices urna sit lobortis</a></h3>
					</header>
					<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
				</article>

				<article>
					<a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
					<header>
						<h3><a href="#">Varius magnis sollicitudin</a></h3>
					</header>
					<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
				</article>
 -->
			</div>
		</section>

		<div class="grayline"></div>

		<div class="wrapper style1">
			<section id="features" class="container special">
				<header>
					<h2>Research Funding</h2>
				<p>
				The lab is generously supported by research grants and fellowships from the following sources</p>
				</header>
				<div class="row padding_custom10">
					<article class="col-4 col-12-mobile special funding">
						<a href="#" class="image featured "><img src="images/nfrlogo.jpg" alt="" /></a>				
					</article>
					
					<article class="col-4 col-12-mobile special funding">
						<a href="#" class="image featured "><img src="images/ncmmlogo.jpg" alt="" /></a>
				
					</article>

					<article class="col-4 col-12-mobile special funding">
						<a href="#" class="image featured "><img src="images/uiologo.jpg" alt="" /></a>
					
					</article>
				</div>

				<div class="row padding_custom10">
					<article class="col-4 col-12-mobile special funding">
						<a href="#" class="image featured "><img src="images/embologo.jpg" alt="" /></a>
				
					</article>
					
					<article class="col-4 col-12-mobile special funding">
						<a href="#" class="image featured "><img src="images/mclogo.jpg" alt="" /></a>
					</article>

					<article class="col-4 col-12-mobile special funding">
						<a href="#" class="image featured "><img src="images/euc_logo.jpg" alt="" /></a>	
					</article>
				</div>
			</section>

		</div>

		<div class="grayline"></div>



{% include footer.html %}
