---
permalink: "//"
---

{% include header.html %}


		<div id='particle-container' >

			<span id='labname' >
				Sleep and Cognitive Development Lab
				<p id='lablocation' >
					Norwegian Centre for Molecular Medicine, Oslo, Norway
				</p>
			</span>
				
		</div>	<!-- End Particle Container -->


		<div class="wrapper" id="research_lines">
			<section id="features" class="container special">
				
				<header >
					<br>
					<h2>Hi. Welcome to <strong>Boccara Lab</strong>.</h2>
					<p>
					We combine high density electrophysiology, optogenetics and computational analyses to investigate how sleep contributes to healthy cognitive development. The lab is focused on the following research lines:
					</p>
				</header>

				<div class="row padding_custom10" >
					<article class="col-4 col-12-mobile special">
						<span class="image featured image_border1"><img src="images/sleep_cog.png" alt="" /></span>
						<header>
							<h3>Sleep & Cognitive Development</h3>
						</header>
						<p>
							Decoding immature neural activity from multiple brain areas in freely behaving rodent pups to reveal mechanisms at play during developmental sleep.
						</p>
					</article>
					
					<article class="col-4 col-12-mobile special">
						<span class="image featured image_border1"><img src="images/metabolism.png" alt="" /></span>
						<header>
							<h3><span>Metabolism and Sleep</span></h3>
						</header>
						<p>
							Monitoring the communications between the brain and the adipose tissue during adolescent sleep to better understand how bad sleep habits may lead to the emergence of metabolic disorders
						</p>
					</article>

					<article class="col-4 col-12-mobile special">
						<span class="image featured image_border1"><img src="images/brain electrode.png" alt="" /></span>
						<header>
							<h3><span>Technological Innovations </span></h3>
						</header>
						<p>
							Engineering wireless and fully implantable electrophysiological “brain machine interface” to decode and manipulate brain activity in real time in freely-behaving rodents. 
						</p>
					</article>
				</div>

				<br><br>

				<div class="row padding_custom10" >
					<article class="col-4 col-12-mobile special">
						<span class="image featured image_border1"><img src="images/lorenz.png" alt="" /></span>
						<header>
							<h3><span>Computational Tools</span></h3>
						</header>
						<p>
							Developing analytical pipelines and machine learning algorithms to automatically detect and decode multiunit activity codes and oscillatory events across brain regions.
						</p>
					</article>
					
					<article class="col-4 col-12-mobile special">
						<span class="image featured image_border1"><img src="images/grid.png" alt="" /></span>
						<header>
							<h3><span>Decoding Brain Representations</span></h3>
						</header>
						<p>
							Revealing sleep and wake neural computations that support learning, updating and consolidation of memory traces, as well as the neural code underlying spatial cognition.
						</p>
					</article>

					<article class="col-4 col-12-mobile special">
						<span class="image featured image_border1"><img src="images/chemogenetics.png" alt="" /></span>
						<header>
							<h3><span>Models of sleep deprivation</span></h3>
						</header>
						<p>
							Exploiting recent advance in gene editing, molecular and viral tools to engineer rodent models of developmental sleep deprivation (Chemogenetic, Optogenetic, CRISPR)
						</p>
					</article>
				</div>
	
					
			</section>
		</div>	

		

		<div class="grayline">
			
		</div>

		<section class=" carousel container special " id="news">

			<header>
					<h2>News from the Lab</h2>
					<p>
					Stay updated with the latest information on funding, research, lab outings, seminars and recruitments in the lab.
					</p>
			</header>
			<div class="reel">

				<article>
					<a href="{{site.baseurl}}news#verona2023" target="_blank" class="image featured image_border1"><img src="images/verona.png" alt="" /></a>
					<header>
						<h3><a href="">Hippocampus Conference</a></h3>
					</header>
					<p>Our lab had 3 presentations at Hippocampus Conference in Verona</p>
				</article>

				<article>
					<a href="{{site.baseurl}}news#damien_recruited" target="_blank"  class="image featured image_border1"><img src="images/damien.png" alt="" /></a>
					<header>
						<h3><a href="">New Lab Recruit!</a></h3>
					</header>
					<p>Welcome to Damien, our new Postdoc, who comes from France <p>
				</article>


				<article>
					<a href="{{site.baseurl}}news#christmas2022" target="_blank" class="image featured image_border1"><img src="images/Christmas 2022.png" alt="" /></a>
					<header>
						<h3><a href="">NCMM Christmas Party</a></h3>
					</header>
					<p>Our lab at the institute christmas party at Oslo Science Park </p>
				</article>


				<article>
					<a href="{{site.baseurl}}news#brijesh_recruited" target="_blank"  class="image featured image_border1"><img src="images/brijesh.png" alt="" /></a>
					<header>
						<h3><a href="">New Lab Recruit!</a></h3>
					</header>
					<p>Welcome to Brijesh, our new Postdoc, who comes from India <p>
				</article>

				<article>
					<a href="{{site.baseurl}}news#florian_recruited" target="_blank"  class="image featured image_border1"><img src="images/florian.png" alt="" /></a>
					<header>
						<h3><a href="">New Lab Recruit!</a></h3>
					</header>
					<p>Welcome to Florian, our new Ph.D student, who comes from France <p>
				</article>

				<article>
					<a href="{{site.baseurl}}news#fens2022" target="_blank" class="image featured image_border1"><img src="images/fens2022.png" alt="" /></a>
					<header>
						<h3><a href="">FENS 2022</a></h3>
					</header>
					<p>Our lab presented two posters in Paris during FENS 2022 </p>
				</article>

				<article>
					<a href="{{site.baseurl}}news#french_restaurant" target="_blank" class="image featured image_border1"><img src="images/french_resto.png" alt="" /></a>
					<header>
						<h3><a href="">Lab Dinner</a></h3>
					</header>
					<p>Our team enjoyed a lovely evening in a tiny and cosy french restaurant</p>
				</article>

				<article>
					<a href="{{site.baseurl}}news#nfr_funding" target="_blank" class="image featured image_border1"><img src="images/nfrlogo.jpg" alt="" /></a>
					<header>
						<h3><a href="#">New Research Grant!</a></h3>
					</header>
					<p>Funding from NFR to engineer wireless probes to study sleep disorders</p>
				</article>

				<article>
					<a href="{{site.baseurl}}news#ela_recruited" target="_blank"  class="image featured image_border1"><img src="images/ela.png" alt="" /></a>
					<header>
						<h3><a href="">New Lab Recruit!</a></h3>
					</header>
					<p>Welcome to Ela, our new Master’s student intern, who comes from France <p>
				</article>

				<article>
					<a href="{{site.baseurl}}news#hiring_scientia"  target="_blank"  class="image featured image_border1"><img src="images/hiring.jpeg" alt="" /></a>
					<header>
						<h3><a href="">We are hiring!</a></h3>
					</header>
					<p>We are recruiting post doctoral researchers as Scientia Fellows </p>
				</article>


				<article>
					<a href="{{site.baseurl}}news#recruited_lina"  target="_blank" class="image featured image_border1"><img src="images/lina.png" alt="" /></a>
					<header>
						<h3><a href="">New Lab Recruit!</a></h3>
					</header>
					<p>Welcome to Lina, our new research assistant, who comes from Ukraine.</p>
				</article>

				<article>
					<a href="{{site.baseurl}}news#ukraine"  target="_blank" class="image featured image_border1"><img src="images/ukraine.png" alt="" /></a>
					<header>
						<h3><a href="">Solidarity with Ukraine!</a></h3>
					</header>
					<p> We extend our support to scientists in Ukraine</p>
				</article>

				<article>
					<a href="{{site.baseurl}}news#farewell_coralie" target="_blank" class="image featured image_border1"><img src="images/farewell_coralie.JPG" alt="" /></a>
					<header>
						<h3><a href="">Goodbye Coralie!</a></h3>
					</header>
					<p>We bid farewell to Coralie after her 6 months stay in Oslo.<p>
				</article>

				
				
			</div>
		</section>

		<div class="grayline"></div>

		<div class="wrapper style1">
			<section id="features" class="container special">
				<header>
					<h2>Research Funding</h2>
				<p>
				The lab is generously supported by research grants and fellowships from the following sources</p>
				</header>
				<div class="row padding_custom10">
					<article class="col-4 col-12-mobile special funding">
						<a href="#" class="image featured image_border1 "><img src="images/nfrlogo.jpg" alt="" /></a>				
					</article>
					
					<article class="col-4 col-12-mobile special funding">
						<a href="#" class="image featured image_border1 "><img src="images/ncmmlogo.jpg" alt="" /></a>
				
					</article>

					<article class="col-4 col-12-mobile special funding">
						<a href="#" class="image featured image_border1 "><img src="images/uiologo.jpg" alt="" /></a>
					
					</article>
				</div>

				<div class="row padding_custom10">
					<article class="col-4 col-12-mobile special funding">
						<a href="#" class="image featured image_border1 "><img src="images/embologo.jpg" alt="" /></a>
				
					</article>
					
					<article class="col-4 col-12-mobile special funding">
						<a href="#" class="image featured image_border1 "><img src="images/mclogo.jpg" alt="" /></a>
					</article>

					<article class="col-4 col-12-mobile special funding">
						<a href="#" class="image featured image_border1 "><img src="images/euc_logo.jpg" alt="" /></a>	
					</article>
				</div>
			</section>

		</div>

		<div class="grayline"></div>



{% include footer.html %}
