---
permalink: "/news/"
---

{% include header.html %}			


<div class="wrapper style1">
				<div class="container1">
					<article id="main" class="special">
						<header>
							<h2><a href="#">News</a></h2>
							<p>
								Learn more about the latest updates in the lab
							</p>
						</header>
						<!-- <a href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/groupphoto.jpeg" alt="" /></a> -->
											
					</article>
					<br>

					<div class="padding_custom10 ">
						<div class="row box " id="christmas2023">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/holidays2023.gif" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Christmas Party!</a></h3>
								</header>
								<p>
							    This year, we celebrated the end of the year festivities twice!  A traditional Julebord organized at NCMM with all our colleagues there and a more intimate potluck at Charlotte’s where each lab member brought dishes from their own country.					
							
								<br><br>
								19 Dec, 2023
								
								</p>				
							</div>
						
						</div>
						
					</div>

					<br><br><br>

					<div class="padding_custom10 ">
						<div class="row box " id="adrian_grant">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/copenhagen.png" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">New Funding for Adrian!</a></h3>
								</header>
								<p>
							    Congrats to Adrian for securing funding from University of Copenhagen's Support Foundation for students of pharmaceutical science!	

							
								<br><br>
								19 Dec, 2023
								
								</p>				
							</div>
						
						</div>
						
					</div>

					<br><br><br>

					<div class="padding_custom10 ">
						<div class="row box " id="bouldering">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/bouldering.gif" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Lab outing: Bouldering</a></h3>
								</header>
								<p>
							    Our lab enjoyed bouldering at Oslo Klatresenter in Skullerud Park.			
							
								<br><br>
								19 Dec, 2023
								
								</p>				
							</div>
						
						</div>
						
					</div>

					<br><br><br>


					

					<div class="padding_custom10 ">
						<div class="row box " id="vgkhrono">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/ncmmlogo.jpg" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">NCMM PhD Course </a></h3>
								</header>
								<p>
							    We hosted a 2 weeks PhD course on Molecular Medicine at NCMM with 2 days devoted to neurosciences. We heard great talks from a wide range of persepctives in Neuroscience from Julie Jezequel (KCL), Cliff Kentros (NTNU), Cathrin Canto (NIN), Hua Hu (UiO), Jean-Luc Boulland (UiO), Joel Glover (UiO), Rune Enger (UiO) and Charlotte Boccara (UiO).						
							
								<br><br>
								19 Dec, 2023
								
								</p>				
							</div>
						
						</div>
						
					</div>

					<br><br><br>

					<div class="padding_custom10 ">
						<div class="row box " id="vgkhrono">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/vgkhrono.png" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Our lab in two national newspapers </a></h3>
								</header>
								<p>
							    In connection with receiving the ERC Starting Grant, our research was featured in a news story in the national newspaper VG (<a href="https://www.vg.no/forbruker/helse/i/wAQ0ed/ny-norsk-studie-daarlig-soevn-kan-foere-til-adhd" target="_blank">read more here</a>) and in Khrono (<a href="https://khrono.no/hun-er-en-av-atte-forskere-i-norge-som-sikrer-seg-millioner-fra-erc/807007" target="_blank">read more here</a>).						
							
								<br><br>
								04 Oct, 2023
								
								</p>				
							</div>
						
						</div>
						
					</div>

					<br><br><br>

					<div class="padding_custom10 ">
						<div class="row box " id="sandra">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/sandra.jpeg" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Welcome to Sandra! </a></h3>
								</header>
								<p>
								
								Sandra Bryne joins the lab as a research assistant<br>

								She completed her MSc in Neuroscience from the University of Oslo and has background in animal handling, histology and molecular biology<br>

								


								
								<br><br>
								04 Oct, 2023
								
								</p>				
							</div>
						
						</div>
						
					</div>

					<br><br><br>



					<div class="padding_custom10 ">
						<div class="row box " id="ieee_paper">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/ieee.png" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">New publication in IEEE Sensors Letters</a></h3>
								</header>
								<p>
								
								A new paper from Smartsense project titled <b>Adipose tissue characterization with electrical impedance spectroscopy and machine learning</b> is now out in IEEE Sensors Letters<br><br>

								Electrical Impedance Spectroscopy (EIS) is a technique that allows to analyze a material by measuring its response to small electrical signals. In this work, we show that EIS can be used to discriminate different types of mouse fat tissue from one another. This is a first step towards complementing traditional tissue analysis methods in order to gain further insight on the structure and properties of various fat tissues.<br>

								<a href="https://ieeexplore.ieee.org/abstract/document/10258365" target="_blank">Download Link</a>


								
								<br><br>
								29th Sept, 2023
								
								</p>				
							</div>
						
						</div>
						
					</div>

					<br><br><br>

					<div class="padding_custom10 ">
						<div class="row box " id="embl_helsinki">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/finland.gif" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">EMBL Conference in Helsinki</a></h3>
								</header>
								<p>
								
								Our lab participated with posters and a talk at EMBL conference in Helsinki.<br>

								Solomiia and Adrian presented a poster and Charlotte delivered a talk at the conference! 

								
								<br><br>
								20th Sept, 2023
								
								</p>				
							</div>
						
						</div>
						
					</div>

					<br><br><br>

					<div class="padding_custom10 ">
						<div class="row box " id="erc">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/erc.gif" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">ERC Starting Grant for the lab!</a></h3>
								</header>
								<p>
								
								We are happy to share that lab has secured European Research Council's Starting Grant for the project 'SleepCog'. This will allow us explore the role of sleep in healthy cognitive development.

								
								<br><br>
								15th Sept, 2023
								
								</p>				
							</div>
						
						</div>
						
					</div>

					<br><br><br>

					<div class="padding_custom10 ">
						<div class="row box " id="jie">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/jie.jpeg" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Welcome Jie to the SmartSense team – Physics node</a></h3>
								</header>
								<p>
								Welcome to Jie, our new postdoctoral researcher on the Smartsense project. He is supervised by Ørjan G. Martinsen at the Department of Physics and co-supervised by Charlotte Boccara. She aims to focus her research on biosensors and sleep scoring using state-of-the-art machine learning algorithms

								<br><br>
								1st Sept, 2023
								
								</p>				
							</div>
						
						</div>
						
					</div>

					<br><br><br>

					<div class="padding_custom10 ">
						<div class="row box " id="summer_party">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/summer.gif" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Forskningsparken Summer Party!</a></h3>
								</header>
								<p>
								
								Our lab and the institute enjoyed the roof-top summer party at Oslo Science Park.

								<br><br>
								1st Sept, 2023
								
								</p>				
							</div>
						
						</div>
						
					</div>

					<br><br><br>


					<div class="padding_custom10 ">
						<div class="row box  " id="adrian_fellowship">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/adrian.png" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">New Research Fellowship!</a></h3>
								</header>
								<p>
								
								Congrats to Adrain for securing a fellowship from Denmark's Dagmar Marshall Fonden. This fellowship will support his stay in Oslo during his research in our lab. 

								<br><br>
								1st Sept, 2023
								</p>				
							</div>
						
						</div>
						
					</div>

					<br><br><br>


					<div class="padding_custom10 ">
						<div class="row box  " id="summer_internships">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/henriette_sunniva.gif" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Summer Internships</a></h3>
								</header>
								<p>
								Our lab will host 2 summer internships from UIO Life Science Summer Internship Programme.

								<br>
								Congrats to Henriette Myrland and Sunniva Segtnan for securing the internship! 

								<br><br>
								1st August, 2023
								
								</p>				
							</div>
						
						</div>
						
					</div>

					<br><br><br>


					<div class="padding_custom10 ">
						<div class="row box  " id="ruchi_thesis_defense">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/oslomet.png" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Successful Master's Thesis</a></h3>
								</header>
								<p>
								Congrats to Ruchi Saigal for successfully defending her master's thesis at Oslo Met University, Norway.
								<br><br>
								

								1st August, 2023
								</p>				
							</div>
						
						</div>
						
					</div>

					<br><br><br>
					

					<div class="padding_custom10 ">
						<div class="row box  " id="laure_thesis_defense">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/laure.png" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Successful Master's Thesis</a></h3>
								</header>
								<p>
								Congrats to Laure for successfully defending her master's thesis at Sorborne University, France. Her project focused on the effects of sleep deprivation on adipose tissue.
								<br><br>
								
								Laure was supervised by Dr. Charlotte Boccara, Dr. Nolwenn Briand and Dr. Damien Dufour	

								<br><br>
								1st August, 2023						
								</p>				
							</div>
						
						</div>
						
					</div>

					<br><br><br>

					<div class="padding_custom10 ">
						<div class="row box  " id="ncmm_sweden">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/retreat.png" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">NCMM Scientific Retreat in Sweden</a></h3>
								</header>
								<p>
								The lab enjoyed a relaxing retreat at Strömstad Spa & Resort in Sweden.	
								<br><br>

								Congrats to Damien on a great presentation on <b>Adolescence, a critical window of adipose tissue remodelling</b>

								<br><br>
								22nd June, 2023
								</p>				
							</div>
						
						</div>
						
					</div>

					<br><br><br>

					<div class="padding_custom10 ">
						<div class="row box  " id="mats_fellowship">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/mats.png" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">New Fellowship for Mats</a></h3>
								</header>
								<p>
								Congrats to Mats for securing the Forsklinjen Fellowship. This will allow him to follow research track simultaneously during his medical studies! We look forward to having you in our lab!
								<br><br>
								22nd June, 2023
								</p>				
							</div>
						
						</div>
						
					</div>

					<br><br><br>


					<div class="padding_custom10 ">
						<div class="row box  " id="ajfond">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/ajfond.png" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">New Research Grant: Andres Jahres Fond</a></h3>
								</header>
								<p>
								Congrats to the lab: A small grant from the <b>Anders Jahres fond til vitenskapens fremme</b> for our CRIPSR project
								<br><br>
								22nd June, 2023
								</p>				
							</div>
						
						</div>
						
					</div>

					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box" id="verona2023">
							<div class="col-5 col-12-mobile special">
								<span href="" class="image featured labphotos image_border1"><img src="{{site.url}}/images/verona.gif" targe="_blank" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Hippocampus Conference in Verona</a></h3>
								</header>
								<p>
								Our lab attended Spring Hippocampus Conference in Verona, Italy. Solomiia presented her latest work on "Maturation of sleep architecture across development", whereas Brijesh and Eis unvieled a new tool for benchmarking sharp wave ripple detection algorithms. Lastly, Charlotte presented her crucial work on memory consolidation done in collaboration with Dr. Jozsef Csicsvari at IST, Austria
								<br><br>
							    4th June, 2023
								</p>				
							</div>
						
						</div>
						
					</div>


					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box" id="jerome">
							<div class="col-5 col-12-mobile special">
								<span href="" class="image featured labphotos image_border1"><img src="{{site.url}}/images/jerome.png" targe="_blank" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Guest Speaker: Jerome Epsztein</a></h3>
								</header>
								<p>
								We were lucky to have Dr. Jérôme Epsztein visiting us in Oslo. Thank you Jérôme for 2 (!) great talks and many inspiring scientific conversations!
								<br><br>
							    28th March, 2023
								</p>				
							</div>
						
						</div>
						
					</div>

					

					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box  " id="damien_recruited">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/damien.png" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Welcome Damien to the SmartSense team – Molmed node</a></h3>
								</header>
								<p>
								Welcome to Damien to the smartsense team. Damien will be postdoctoral researcher supervised by Dr. Nolwenn Briand at Molmed and co-supervised by Charlotte. His aim is to understand how sleep affects adipose tissue physiology and to investigate the physiological process of adipose tissue post-natal development. He did his PhD at the Clermont Auvergne University, in France, working on the different pathways involved in the differentiation of the adrenal cortex, one of the key organs of the stress response. Before that, he worked on the effects of dietary restriction on the ageing of visceral adipose tissue at the University of Newcastle in the UK.

								<br><br>
								1st January, 2023
								</p>				
							</div>
						
						</div>
						
					</div>


					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box  " id="christmas2022">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/Christmas 2022.png" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">NCMM Christmas Party</a></h3>
								</header>
								<p>
								Our lab had a blast at our institute christmas party hosted at Oslo Science Park, Norway <br><br>
								20th December, 2022
								</p>				
							</div>
						
						</div>
						
					</div>

					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box  " id="brijesh_recruited">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/brijesh.png" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">New lab recruit : Welcome to Brijesh!</a></h3>
								</header>
								<p>
								Welcome to Brijesh, our new postdoctoral researcher, who comes from India. Brijesh completed his Ph.D work in Italy with Prof. Enrico Cherubini and Dr. Francesco Battaglia. His main focus in the lab will be on sleep recordings and computational analysis of large scale electrophysilogical data.
								<br><br>
								1st October, 2022
								</p>				
							</div>
						
						</div>
						
					</div>

					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box  " id="florian_recruited">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/florian.png" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Welcome Florian to the SmartSense team – Physics node</a></h3>
								</header>
								<p>
								Welcome to Florian, our new Ph.D student, who is a mechatronics engineer from France. He is supervised by Ørjan G. Martinsen at the Department of Physics and co-supervised by Charlotte Boccara within the SmartSense project. His main focus is to develop new implantable biosensors to study the brain-adipose tissue crosstalk in mouse models.
								<br><br>
								1st September, 2022
								</p>				
							</div>
						
						</div>
						
					</div>


					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box" id="fens2022">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/fens2022.png" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">FENS conference in Paris</a></h3>
								</header>
								<p>
								Our lab participated in FENS conference in Paris. Solomiia and Eis presented their posters on their latest work on maturatio of sleep oscillations across development<br><br>
								15th July, 2022
								</p>				
							</div>
						
						</div>
						
					</div>

					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box  " id="french_restaurant">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/french_resto.png" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">A relaxing evening at a French restaurant</a></h3>
								</header>
								<p>
								Our team enjoyed a lovely evening in a tiny and cosy restaurant that serves traditional French dishes. <br> It was nice to have an afterwork wine glass and a plate of delirious food. It was also a good opportunity to get to know better our new lab members in informal and relaxing atmosphere. <br><br>
								6th May, 2022
								</p>				
							</div>
						
						</div>
						
					</div>

					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box" id="recruited_lina">
							<div class="col-5 col-12-mobile special">
								<span href="" class="image featured labphotos image_border1"><img src="{{site.url}}/images/lina.png" targe="_blank" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">New lab recruit : Welcome to Lina!</a></h3>
								</header>
								<p>
								Welcome to Lina, our new research assistant, who comes from Ukraine. Given the difficult situation in her country, we are happy to invite her to our lab and provide her a safe and friendly working environment.<br>Her work will consist of lab managing tasks, technical assistance with histology, preparation of solutions, rodent colonies management, rodent behaviour and preparation of electronics aim at brain chronic recordings.
								<br><br>
								27th April, 2022
								</p>				
							</div>
						
						</div>
						
					</div>
					

					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box" id="ela_recruited" >
							<div class="col-5 col-12-mobile special">
								<span href="" class="image featured labphotos image_border1"><img src="{{site.url}}/images/ela.png" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">New lab recruit : Welcome to Ela!</a></h3>
								</header>
								<p>
								Welcome to Ela, who is a new Master’s student intern and will stay during 3 months. She comes from France where she just completed an internship in another lab where she worked on levodopa-induced dyskinesia in Parkinsonian mice. <br>During her stay in Oslo, she will mainly work on sleep analyses and building ultra-light recording devices adapted to pups.
								<br><br>
								27th April, 2022
								</p>				
							</div>
						
						</div>
						
					</div>
					

					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/bulb.JPG" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">RELIGHT Symposium: Road to Excellence in Global Health Research</a></h3>
								</header>
								<p>
								Join the RELIGHT symposium taking place April 7, where  I will participate in a panel discussion about the path to research excellence!
								<br><br>
								<a href="https://www.med.uio.no/helsam/english/research/centres/global-health/news-and-events/events/2022/relight-conference.html " target="_blank">Follow the event here</a>

								<br><br>
								6th April, 2022
								
								</p>				
							</div>
						
						</div>
						
					</div>
					

					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box" id="ukraine">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/ukraine.png" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Solidarity with Ukraine</a></h3>
								</header>
								<p>
								We can host scientist at all levels. We have postdoc, PhD and lab tech funded positions available. In addition, there may be shot-term fellowship available trough EMBO. We can also help with housing. Do not hesitate to contact us directly if you are interested. 

								<br><br>
								6th March, 2022
								</p>				

							</div>
						
						</div>
						
					</div>
					

					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box" id="farewell_coralie">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/farewell_coralie.JPG" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Goodbye Coralie!</a></h3>
								</header>
								<p>
								After 6 months with us, Coralie returns to her beautiful Neuchâtel in Switzerland. We will miss her so much!<br>	Her smile has lighten up our winter!! We wish her all the best on her new position. She will stay a friend of the lab :))  
								<br><br>
								18th February, 2022
								</p>				
							</div>
						
						</div>
						
					</div>

					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/eis_bday.JPG" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Happy Birthday Eis!</a></h3>
								</header>
								<p>
								Finally the restrictions in Oslo were relaxed which allowed us to celebrate in person Eis's birthday! On this occasion, Eis shared with us his Italian origin by cooking a delicious homemade tiramisu.  
								<br><br>
								14th February, 2022
								</p>				
							</div>
						
						</div>
						
					</div>
					

					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box" id="nfr_funding">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/nfrlogo.jpg" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Another new large NFR convergence funding !!!</a></h3>
								</header>
								<p>
								We are extremely happy to announce that, together with Torkel Hafting and SINTEF, we received a large funding from the Norwegian Research Council to finance a joined project  to engineer tools to diagnose & analyse sleep and associated disorders (NeuroProbe-on-a-chip – NFR convergence).
								<br><br>
								18th February, 2022
								</p>				
							</div>
						
						</div>
						
					</div>

					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box" id="hiring_scientia">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/hiring.jpeg" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Hiring!</a></h3>
								</header>
								<p>
								Our lab is glad to announce that we are looking for new collaborators!! We currently have two postdoctorals positions available for both neuroscience and computational backgrounds.Regardless of your level (medical student, master, PhD),  if you are interested in our work, don't hesitate to send us a spontaneous application! Read more about the call <a href="https://www.med.uio.no/english/research/scientia-fellows/thematic-areas/" target="_blank" >here</a>
								<br><br>
								10th February, 2022
								</p>				
							</div>
						
						</div>
						
					</div>
					
					<!-- <br><br><br>
					<div class="padding_custom10 ">
						<div class="row box">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/farewell_coralie.JPG" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Goodbye Coralie!</a></h3>
								</header>
								<p>
								After 6 months with us, Coralie returns to her beautiful Neuchâtel in Switzerland. We will miss her so much!<br>	Her smile has lighten up our winter!! We wish her all the best on her new position. She will stay a friend of the lab :))  
								<br><br>
								18th February, 2022
								</p>				
							</div>
						
						</div>
						
					</div> -->
					
					
					
					
					
				</div>

			</div>


			<div class="grayline"></div>



{% include footer.html %}			