---
permalink: "/news/"
---

{% include header.html %}			


<div class="wrapper style1">
				<div class="container1">
					<article id="main" class="special">
						<header>
							<h2><a href="#">News</a></h2>
							<p>
								Learn more about the latest updates in the lab
							</p>
						</header>
						<!-- <a href="#" class="image featured labphotos"><img src="{{site.url}}/images/groupphoto.jpeg" alt="" /></a> -->
											
					</article>

					<br>
					<div class="padding_custom10 ">
						<div class="row box  " id="french_restaurant">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos"><img src="{{site.url}}/images/french_resto.png" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">A relaxing evening at a French restaurant</a></h3>
								</header>
								<p>
								Our team enjoyed a lovely evening in a tiny and cosy restaurant that serves traditional French dishes. <br> It was nice to have an afterwork wine glass and a plate of delirious food. It was also a good opportunity to get to know better our new lab members in informal and relaxing atmosphere. <br><br>
								6th May, 2022
								</p>				
							</div>
						
						</div>
						
					</div>


					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box" id="recruited_lina">
							<div class="col-5 col-12-mobile special">
								<span href="" class="image featured labphotos"><img src="{{site.url}}/images/lina.JPG" targe="_blank" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">New lab recruit : Welcome to Lina!</a></h3>
								</header>
								<p>
								Welcome to Lina, our new research assistant, who comes from Ukraine. Given the difficult situation in her country, we are happy to invite her to our lab and provide her a safe and friendly working environment.<br>Her work will consist of lab managing tasks, technical assistance with histology, preparation of solutions, rodent colonies management, rodent behaviour and preparation of electronics aim at brain chronic recordings.
								<br><br>
								27th April, 2022
								</p>				
							</div>
						
						</div>
						
					</div>
					

					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box" id="ela_recruited" >
							<div class="col-5 col-12-mobile special">
								<span href="" class="image featured labphotos"><img src="{{site.url}}/images/ela.png" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">New lab recruit : Welcome to Ela!</a></h3>
								</header>
								<p>
								Welcome to Ela, who is a new Master’s student intern and will stay during 3 months. She comes from France where she just completed an internship in another lab where she worked on levodopa-induced dyskinesia in Parkinsonian mice. <br>During her stay in Oslo, she will mainly work on sleep analyses and building ultra-light recording devices adapted to pups.
								<br><br>
								27th April, 2022
								</p>				
							</div>
						
						</div>
						
					</div>
					

					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos"><img src="{{site.url}}/images/bulb.JPG" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">RELIGHT Symposium: Road to Excellence in Global Health Research</a></h3>
								</header>
								<p>
								Join the RELIGHT symposium taking place April 7, where  I will participate in a panel discussion about the path to research excellence!
								<br><br>
								<a href="https://www.med.uio.no/helsam/english/research/centres/global-health/news-and-events/events/2022/relight-conference.html " target="_blank">Follow the event here</a>

								<br><br>
								6th April, 2022
								
								</p>				
							</div>
						
						</div>
						
					</div>
					

					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box" id="ukraine">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos"><img src="{{site.url}}/images/ukraine.png" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Solidarity with Ukraine</a></h3>
								</header>
								<p>
								We can host scientist at all levels. We have postdoc, PhD and lab tech funded positions available. In addition, there may be shot-term fellowship available trough EMBO. We can also help with housing. Do not hesitate to contact us directly if you are interested. 

								<br><br>
								6th March, 2022
								</p>				

							</div>
						
						</div>
						
					</div>
					

					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box" id="farewell_coralie">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos"><img src="{{site.url}}/images/farewell_coralie.JPG" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Goodbye Coralie!</a></h3>
								</header>
								<p>
								After 6 months with us, Coralie returns to her beautiful Neuchâtel in Switzerland. We will miss her so much!<br>	Her smile has lighten up our winter!! We wish her all the best on her new position. She will stay a friend of the lab :))  
								<br><br>
								18th February, 2022
								</p>				
							</div>
						
						</div>
						
					</div>

					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos"><img src="{{site.url}}/images/eis_bday.JPG" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Happy Birthday Eis!</a></h3>
								</header>
								<p>
								Finally the restrictions in Oslo were relaxed which allowed us to celebrate in person Eis's birthday! On this occasion, Eis shared with us his Italian origin by cooking a delicious homemade tiramisu.  
								<br><br>
								14th February, 2022
								</p>				
							</div>
						
						</div>
						
					</div>
					

					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box" id="nfr_funding">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos"><img src="{{site.url}}/images/nfrlogo.jpg" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Another new large NFR convergence funding !!!</a></h3>
								</header>
								<p>
								We are extremely happy to announce that, together with Torkel Hafting and SINTEF, we received a large funding from the Norwegian Research Council to finance a joined project  to engineer tools to diagnose & analyse sleep and associated disorders (NeuroProbe-on-a-chip – NFR convergence).
								<br><br>
								18th February, 2022
								</p>				
							</div>
						
						</div>
						
					</div>

					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box" id="hiring_scientia">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos"><img src="{{site.url}}/images/hiring.jpeg" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Hiring!</a></h3>
								</header>
								<p>
								Our lab is glad to announce that we are looking for new collaborators!! We currently have two postdoctorals positions available for both neuroscience and computational backgrounds.Regardless of your level (medical student, master, PhD),  if you are interested in our work, don't hesitate to send us a spontaneous application! Read more about the call <a href="https://www.med.uio.no/english/research/scientia-fellows/thematic-areas/" target="_blank" >here</a>
								<br><br>
								10th February, 2022
								</p>				
							</div>
						
						</div>
						
					</div>
					
					<!-- <br><br><br>
					<div class="padding_custom10 ">
						<div class="row box">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos"><img src="{{site.url}}/images/farewell_coralie.JPG" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Goodbye Coralie!</a></h3>
								</header>
								<p>
								After 6 months with us, Coralie returns to her beautiful Neuchâtel in Switzerland. We will miss her so much!<br>	Her smile has lighten up our winter!! We wish her all the best on her new position. She will stay a friend of the lab :))  
								<br><br>
								18th February, 2022
								</p>				
							</div>
						
						</div>
						
					</div> -->
					
					
					
					
					
				</div>

			</div>


			<div class="grayline"></div>



{% include footer.html %}			