---
permalink: "/publications/"
---

{% include header.html %}


	<div class="wrapper style1">
				<div class="container1">
					<article id="main" class="special">
						<header>
							<h2><a href="#">Publications</a></h2>
							<p>
								Learn more about the latest research and review articles from the lab
							</p>
						</header>
						<!-- <a href="#" class="image featured labphotos"><img src="{{site.url}}/images/groupphoto.jpeg" alt="" /></a> -->
											
					</article>

					<br>
					<div class="padding_custom10 ">
						<div class="row box  ">
							<div class="col-3 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/angular_speed.png" alt="" /></span>
													
							</div>

							<div class="col-9 col-12-mobile special">
								<header>
									<h3>Angular and Linear Speed Cells in the Parahippocampal Circuits</h3>
								</header>
								<p>
								Authors: Davide Spalla, Alessandro Treves, Charlotte N. Boccara,
								<br>Journal: Nature Communications<br>
								<a href="https://www.nature.com/articles/s41467-022-29583-z.pdf" target="_blank">Download Link</a>
								</p>				
							</div>
						
						</div>
						
					</div>
					

					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box  ">
							<div class="col-3 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/grid.png" alt="" /></span>
													
							</div>

							<div class="col-9 col-12-mobile special">
								<header>
									<h3>The Entorhinal Cognitive Map is Attracted to Goals</h3>
								</header>
								<p>
								Authors: Boccara CN, Nardin M, Stella F, O'Neill J, Csicsvari J.
								<br>Journal: Science <br>
								<a href="https://www.science.org/doi/10.1126/science.aav4837" target="_blank">Download Link</a>
								</p>				
							</div>
						
						</div>
						
					</div>

					
					
					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box  ">
							<div class="col-3 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/dori.png" alt="" /></span>
													
							</div>

							<div class="col-9 col-12-mobile special">
								<header>
									<h3><aqa href="#">Dissociation between Postrhinal Cortex and Downstream Parahippocampal Regions in the Representation of Egocentric Boundaries</h3>
								</header>
								<p>
								Authors: Xenia Gofman, Gilad Tocker,... Dori Derdikman
								<br>Journal: Current Biology (2019) <br>
								<a href="https://reader.elsevier.com/reader/sd/pii/S0960982219308528?token=13763C3EDBBF9C678F8A963C104E05B9FB2FF395278FA1B34DBD9F2C0DDA0A426D4F2AA0335059E3AF00BFB49CFA0779&originRegion=eu-west-1&originCreation=20220619084641" target="_blank">Download Link</a>
								</p>				
							</div>
						
						</div>
						
					</div>
					
					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box  ">
							<div class="col-3 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/grid2boccara.png" alt="" /></span>
													
							</div>

							<div class="col-9 col-12-mobile special">
								<header>
									<h3>Superficial Layers of the Medial Entorhinal Cortex Replay Independent of the Hippocampus</h3>
								</header>
								<p>
								Authors: O’Neill J, Boccara CN, Stella F, Schoenenberger P,Csicsvari J.
								<br>Journal: Science (2017)<br>
								<a href="https://www.science.org/doi/pdf/10.1126/science.aag2787?casa_token=T8Ijotz8TN0AAAAA:lKRhW3edKALbyLWTa0bmtaxCRZGNgjfNE1bvzSML1DJ4zatbFCQPCAiohr37jL0aVQhJg_OfH-GF" target="_blank">Download Link</a>
								</p>				
							</div>
						
						</div>
						
					</div>
					​

					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box  ">
							<div class="col-3 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/des.png" alt="" /></span>
													
							</div>

							<div class="col-9 col-12-mobile special">
								<header>
									<h3>Activity dependent feedback inhibition may maintain head direction signals in mouse presubiculum</h3>
								</header>
								<p>
								Authors: Simonnet J, Nassar M, Stella F, Cohen I, Mathon B, Boccara CN, Miles R, Fricker D.
								<br>Journal: Nature Communications (2017)<br>
								<a href="https://www.nature.com/articles/ncomms16032" target="_blank">Download Link</a>
								</p>				
							</div>
						
						</div>
						
					</div>



					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box  ">
							<div class="col-3 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/witter.png" alt="" /></span>
													
							</div>

							<div class="col-9 col-12-mobile special">
								<header>
									<h3>A Three-Plane High Resolution Architectonic Atlas of the Rat Hippocampal Region. </h3>
								</header>
								<p>
								Authors:Boccara CN, Kjønigsen LJ, Hammer I, Bjålie J, Leergaard TB, Witter MP.
								<br>Journal: Hippocampus (2015)<br>
								<a href="https://onlinelibrary.wiley.com/doi/10.1002/hipo.22407" target="_blank">Download Link</a>
								</p>				
							</div>
						
						</div>
						
					</div>


					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box  ">
							<div class="col-3 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/gridparaboc.png" alt="" /></span>
													
							</div>

							<div class="col-9 col-12-mobile special">
								<header>
									<h3>Grid Cells in Pre- and Parasubiculum.</h3>
								</header>
								<p>
								Authors: Boccara CN, Sargolini F, Hult V, Solstad T, Witter MP, Moser EI and Moser M-B.
								<br>Journal: Nature Neuroscience (2010)<br>
								<a href="https://www.nature.com/articles/nn.2602.pdf" target="_blank">Download Link</a>
								</p>				
							</div>
						
						</div>
						
					</div>



					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box  ">
							<div class="col-3 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/border.png" alt="" /></span>
													
							</div>

							<div class="col-9 col-12-mobile special">
								<header>
									<h3>Representation of Geometric Borders in the Entorhinal Cortex.</h3>
								</header>
								<p>
								Authors: Solstad T, Boccara CN, Kropff E, Moser M-B & Moser EI.
								<br>Journal: Science (2008)<br>
								<a href="https://www.science.org/doi/pdf/10.1126/science.1166466?casa_token=TTEupAVHl2QAAAAA:7emP2pnr3dmOw98bS-ZZfiM11DImz9kw7mcHdQP9bKIC39sAic_7ANaeeJzmZ-YZCkFLl_oIGq1B" target="_blank">Download Link</a>
								</p>				
							</div>
						
						</div>
						
					</div>






				</div>
					
					
			</div>

	


		<div class="grayline"></div>

{% include footer.html %}