---
permalink: "/research/"
---

{% include header.html %}


	<div class="wrapper style1">
				<div class="container1">
					<article id="main" class="special">
						<header>
							<h2><a href="#">Research</a></h2>
							<p>
								Learn more about the research directions explored in our lab
							</p>
						</header>
						<!-- <a href="#" class="image featured labphotos"><img src="{{site.url}}/images/groupphoto.jpeg" alt="" /></a> -->
											
					</article>

					<br>
					<div class="padding_custom10 ">
						<div class="row box  ">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/sleep_cog.png" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Sleep and Cognitive Development</a></h3>
								</header>
								<p>
								Sleep is essential to all animal life. But why are sleep needs greater in young mammals? Evidence points to a key role in cognitive development. There is increasing evidence that poor sleep at critical development stages may facilitate the emergence of neural disorders. Yet this is only correlative, but not causal evidence. We record and decode neural activity from multiple brain areas, while automatically scoring sleep in freely behaving pups. Our aim is to elucidate the computational mechanisms at play during developmental sleep and reveal their role in healthy brain maturation.
								</p>				
							</div>
						
						</div>
						
					</div>


					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1 "><img src="{{site.url}}/images/metabolism.png" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Metabolism and Sleep: SmartSense</a></h3>
								</header>
								<p>
								Obesity and bad sleep habits among teenagers are two rising health concerns that seems intertwined. To understand how the brain and the fat tissue communicate while we sleep, we propose SmartSense, an ambitious and innovative project, resulting from the convergence of four research groups with expertise either in sleep, fat tissue biology, epigenetics, or sensor technology, all located at the University of Oslo.
								<br><br>
								Collaborative network: Charlotte Boccara (sleep and brain probes, NCMM, UiO), Phillipe Collas (epigenetic, IMB, UiO), Nolwenn Briand (metabolism, IMB, UIO), Ørjan Martinsen (sensor technology and electronics, Physics department, UiO)

								</p>				
							</div>
						
						</div>
						
					</div>
					

					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/brain electrode.png" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Technological innovations in brain recording – Collab. Sintef</a></h3>
								</header>
								<p>
								With a team of neuroscientists at the faculty of medicine (UiO) and engineers at Sintef, we harness innovations in micro-opto-electronics, chip and wireless technologies to develop wireless and fully implantable smart brain probes that can decode and manipulate brain activity in real time in rodents. This technical leap will allow a radical increase in a subject’s freedom of movement – allowing more naturalistic experimental set-ups – while keeping state-of-the-art quality of recordings and optogenetics light stimulation.
								<br><br>
								Collaborative network: Charlotte Boccara (NCMM, UiO), Torkel Hafting (IMB, UiO), Sintef (lead: Enrique Escobedo-Cousin)

								</p>				
							</div>
						
						</div>
						
					</div>
					

					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/lorenz.png" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Development of computational tools</a></h3>
								</header>
								<p>
								Developing analytical pipelines and machine learning algorithms to automatically detect and decode multiunit activity codes and oscillatory events across brain regions.

								</p>				
							</div>
						
						</div>
						
					</div>
					

					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/grid.png" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Decoding brain representations</a></h3>
								</header>
								<p>
								We revealed how encoding of new (goal) information transforms internal representations, challenging the concept that grid cells only convey spatial information (Science 2019). We also brought forth new perspective as to memory consolidation mechanisms, revealing that the cortex could replay traces either autonomously or in coordination with the hippocampus (Science 2017).
								</p>				
							</div>
						
						</div>
						
					</div>
					

					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/chemogenetics.png" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Models of sleep deprivation</a></h3>
								</header>
								<p>
								Exploiting recent advance in gene editing, molecular and viral tools to engineer rodent models of developmental sleep deprivation (Chemogenetic, Optogenetic, CRISPR) 
								</p>				
							</div>
						
						</div>
						
					</div>
					
					
				</div>

			</div>


			<div class="grayline"></div>

{% include footer.html %}