---
permalink: "/research/"
---

{% include header.html %}


	<div class="wrapper style1">
				<div class="container1">
					<article id="main" class="special">
						<header>
							<h2><a href="#">Research</a></h2>
							<p>
								Learn more about the research directions explored in our lab
							</p>
						</header>
						<!-- <a href="#" class="image featured labphotos"><img src="{{site.url}}/images/groupphoto.jpeg" alt="" /></a> -->
											
					</article>

					<br>
					<div class="padding_custom10 ">
						<div class="row box  ">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos"><img src="{{site.url}}/images/pic09.jpg" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Research Line 1</a></h3>
								</header>
								<p>
								Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
								porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
								porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
								Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. 
								</p>				
							</div>
						
						</div>
						
					</div>


					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos"><img src="{{site.url}}/images/pic01.jpg" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Research Line 2</a></h3>
								</header>
								<p>
								Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
								porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
								porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
								Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. 
								</p>				
							</div>
						
						</div>
						
					</div>
					

					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos"><img src="{{site.url}}/images/pic09.jpg" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Research Line 3</a></h3>
								</header>
								<p>
								Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
								porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
								porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
								Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. 
								</p>				
							</div>
						
						</div>
						
					</div>
					

					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos"><img src="{{site.url}}/images/pic01.jpg" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Research Line 4</a></h3>
								</header>
								<p>
								Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
								porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
								porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
								Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. 
								</p>				
							</div>
						
						</div>
						
					</div>
					

					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos"><img src="{{site.url}}/images/pic09.jpg" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Research Line 5</a></h3>
								</header>
								<p>
								Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
								porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
								porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
								Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. 
								</p>				
							</div>
						
						</div>
						
					</div>
					

					<br><br><br>
					<div class="padding_custom10 ">
						<div class="row box">
							<div class="col-5 col-12-mobile special">
								<span href="#" class="image featured labphotos"><img src="{{site.url}}/images/pic01.jpg" alt="" /></span>
													
							</div>

							<div class="col-7 col-12-mobile special">
								<header>
									<h3><a href="#">Research Line 6</a></h3>
								</header>
								<p>
								Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
								porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
								porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
								Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. 
								</p>				
							</div>
						
						</div>
						
					</div>
					
					
				</div>

			</div>


			<div class="grayline"></div>

{% include footer.html %}