---
permalink: "/team/"
---

{% include header.html %}

			<div class="wrapper style1">
				<div class="container">
					<article id="main" class="special">
						<header>
							<h2><a href="#">Lab Members</a></h2>
							<p>
								Learn more about our principal investigator, researchers, technicians and students.
							</p>
						</header>
						<!-- <a href="#" class="image featured labphotos"><img src="{{site.url}}/images/groupphoto.jpeg" alt="" /></a> -->
											
					</article>
					<br>
					<div class="row padding_custom10">
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/charlotte.png" alt="" /></a>
							<header>
								<h3><a href="#">Charlotte Boccara, Ph.D</a></h3>
							</header>
							<p>
								Group leader in Precision Medicine with background in Electrophysiology, Behavioral Recordings, Neural Decoding and Sleep

							</p>
						</article>
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/solomiia.png" alt="" /></a>
							<header>
								<h3><a href="#">Solomiia Korchynska, Ph.D</a></h3>
							</header>
							<p>
								Postdoctoral Researcher with background in In vivo electrophysiology, Sleep Analysis, Chemogenetics and Behavioral Recordings
							</p>
						</article>
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured image_border1"><img src="{{site.url}}/images/eis.png" alt="" /></a>
							<header>
								<h3><a href="#">Eis Annavini, Ph.D</a></h3>
							</header>
							<p>
								Head Engineer at University of Oslo with background in Physics, Electronics and Neural Data Analysis
							</p>
						</article>
					</div>
					<br><br>

					<div class="row padding_custom10">
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/brijesh.png" alt="" /></a>
							<header>
								<h3><a href="#">Brijesh Modi, Ph.D</a></h3>
							</header>
							<p>
								Postdoctoral Researcher with background in Software Development, Slice and In-vivo Electrophysiology and Neural Data Analysis
							</p>
						</article>
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/lina.png" alt="" /></a>
							<header>
								<h3><a href="#">Lina Okinina</a></h3>
							</header>
							<p>
								Lab Technician with background in Biology, Miniaturized Drive Building and Animal Handling
							</p>
						</article>

						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured image_border1"><img src="{{site.url}}/images/damien.png" alt="" /></a>
							<header>
								<h3><a href="#">Damien Dufour</a></h3>
							</header>
							<p>
								Postdoctoral Researcher investigating physiological process governing post-natal development of adipose tissue
							</p>
						</article>

					</div>

					<br><br>
					<div class="row padding_custom10">
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/florian.png" alt="" /></a>
							<header>
								<h3><a href="#">Florian Daspance</a></h3>
							</header>
							<p>
								Ph.D student with background in Electrical Engineering and Development of Biosensors to study Brain-Adipose tissue crosstalk.
							</p>
						</article>
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/laure.png" alt="" /></a>
							<header>
								<h3><a href="#">Laure Gossé</a></h3>
							</header>
							<p>
								Master's Student at Sorbonne University with focus on effects of sleep deprivation on adipose tissue
							</p>
						</article>
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured image_border1"><img src="{{site.url}}/images/adrian.png" alt="" /></a>
							<header>
								<h3><a href="#">Adrian Engberg</a></h3>
							</header>
							<p>
								Master's Student with background in Pharmacology, In vivo electrophysiology and Neural Data Analysis
							</p>
						</article>
						
					</div>

					<br><br>
					<div class="row padding_custom10">
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/mats.png" alt="" /></a>
							<header>
								<h3><a href="#">Mats Helmersen</a></h3>
							</header>
							<p>
								Medical student at University of Oslo with focus on social recognition mechanism and development in young rats
							</p>
						</article>
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/pic03.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Ruchi Saigal</a></h3>
							</header>
							<p>
								Master's Student at Oslo Met University
							</p>
						</article>
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured image_border1"><img src="{{site.url}}/images/pic01.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Henriette Myrland</a></h3>
							</header>
							<p>
								Master's Student at University of Oslo
							</p>
						</article>
						

					</div>
					<br><br>
					<div class="row padding_custom10">
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured labphotos image_border1"><img src="{{site.url}}/images/pic05.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Sunniva Segtnan</a></h3>
							</header>
							<p>
								Medical student at University of Oslo
							</p>
						</article>
						
						
						
					</div>
				</div>

			</div>


			<div class="grayline"></div>
		
			 <div class="wrapper style1">
				<div class="container">
					<article id="main" class="special">
						<header>
							<h2><a href="#">Lab Alumni</a></h2>
							<p>
								Learn more about our former lab members.
							</p>
						</header>
											
					</article>
					<br>


					<div class="row padding_custom10">
						
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured image_border1"><img src="{{site.url}}/images/pic01.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Coralie Belgrano</a></h3>
							</header>
							<p>
								
							</p>
						</article>
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured image_border1"><img src="{{site.url}}/images/pic09.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Anjali Rajagopal</a></h3>
							</header>
							<p>
								
							</p>
						</article>
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured image_border1"><img src="{{site.url}}/images/pic01.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Elisabeth Mathisen</a></h3>
							</header>
							<p>
								
							</p>
						</article>
					</div>
					<br><br>

					<div class="row padding_custom10">
						
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured image_border1"><img src="{{site.url}}/images/pic01.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Davide Spalla</a></h3>
							</header>
							<p>
								
							</p>
						</article>
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured image_border1"><img src="{{site.url}}/images/pic03.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Dina Stang</a></h3>
							</header>
							<p>
								
							</p>
						</article>
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured image_border1"><img src="{{site.url}}/images/pic01.jpg" alt="" /></a>
							<header>
								<h3><a href="#">June Fasting</a></h3>
							</header>
							<p>
								
							</p>
						</article>
					</div>
					<br><br>

					<div class="row padding_custom10">
						
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured image_border1"><img src="{{site.url}}/images/pic05.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Halvor Ullern</a></h3>
							</header>
							<p>
								
							</p>
						</article>
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured image_border1"><img src="{{site.url}}/images/pic03.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Dagny Gammelsæter</a></h3>
							</header>
							<p>
								
							</p>
						</article>
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured image_border1"><img src="{{site.url}}/images/pic01.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Sara Marjanovic</a></h3>
							</header>
							<p>
								
							</p>
						</article>
					</div>

					<br><br>

					<div class="row padding_custom10">
						
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured image_border1"><img src="{{site.url}}/images/pic02.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Rene Huster</a></h3>
							</header>
							<p>
								
							</p>
						</article>
						
					</div>

				</div>

			</div>


			<div class="grayline"></div>

{% include footer.html %}
