---
permalink: "/team/"
---

{% include header.html %}

			<div class="wrapper style1">
				<div class="container">
					<article id="main" class="special">
						<header>
							<h2><a href="#">Lab Members</a></h2>
							<p>
								Learn more about our principal investigator, researchers, technicians and students.
							</p>
						</header>
						<!-- <a href="#" class="image featured labphotos"><img src="{{site.url}}/images/groupphoto.jpeg" alt="" /></a> -->
											
					</article>
					<br>
					<div class="row padding_custom10">
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured labphotos"><img src="{{site.url}}/images/pic09.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Charlotte Boccara, Ph.D</a></h3>
							</header>
							<p>
								Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
								porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
							</p>
						</article>
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured labphotos"><img src="{{site.url}}/images/pic01.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Solomiia Korchynska, Ph.D</a></h3>
							</header>
							<p>
								Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
								porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
							</p>
						</article>
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured"><img src="{{site.url}}/images/pic09.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Eis Annavini, Ph.D</a></h3>
							</header>
							<p>
								Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
								porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
							</p>
						</article>
					</div>
					<br><br>

					<div class="row padding_custom10">
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured labphotos"><img src="{{site.url}}/images/pic01.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Brijesh Modi, Ph.D</a></h3>
							</header>
							<p>
								Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
								porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
							</p>
						</article>
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured labphotos"><img src="{{site.url}}/images/pic09.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Lina Okinina</a></h3>
							</header>
							<p>
								Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
								porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
							</p>
						</article>
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured"><img src="{{site.url}}/images/pic01.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Ela Babursah</a></h3>
							</header>
							<p>
								Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
								porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
							</p>
						</article>
					</div>

					<br><br>
					<div class="row padding_custom10">
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured labphotos"><img src="{{site.url}}/images/pic09.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Ruchi Saigal</a></h3>
							</header>
							<p>
								Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
								porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
							</p>
						</article>
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured labphotos"><img src="{{site.url}}/images/pic01.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Henriette Myrland</a></h3>
							</header>
							<p>
								Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
								porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
							</p>
						</article>
						
					</div>
				</div>

			</div>


			<div class="grayline"></div>
		
			<div class="wrapper style1">
				<div class="container">
					<article id="main" class="special">
						<header>
							<h2><a href="#">Lab Alumni</a></h2>
							<p>
								Learn more about our former lab members.
							</p>
						</header>
						<!-- <a href="#" class="image featured labphotos"><img src="{{site.url}}/images/groupphoto.jpeg" alt="" /></a> -->
											
					</article>
					<br>


					<div class="row padding_custom10">
						
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured"><img src="{{site.url}}/images/pic01.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Coralie Belgrano</a></h3>
							</header>
							<p>
								Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
								porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
							</p>
						</article>
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured"><img src="{{site.url}}/images/pic09.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Anjali Rajagopal</a></h3>
							</header>
							<p>
								Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
								porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
							</p>
						</article>
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured"><img src="{{site.url}}/images/pic01.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Elisabeth Mathisen</a></h3>
							</header>
							<p>
								Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
								porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
							</p>
						</article>
					</div>
					<br><br>

					<div class="row padding_custom10">
						
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured"><img src="{{site.url}}/images/pic01.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Davide Spalla</a></h3>
							</header>
							<p>
								Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
								porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
							</p>
						</article>
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured"><img src="{{site.url}}/images/pic09.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Dina Stang</a></h3>
							</header>
							<p>
								Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
								porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
							</p>
						</article>
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured"><img src="{{site.url}}/images/pic01.jpg" alt="" /></a>
							<header>
								<h3><a href="#">June Fasting</a></h3>
							</header>
							<p>
								Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
								porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
							</p>
						</article>
					</div>
					<br><br>

					<div class="row padding_custom10">
						
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured"><img src="{{site.url}}/images/pic09.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Halvor Ullern</a></h3>
							</header>
							<p>
								Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
								porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
							</p>
						</article>
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured"><img src="{{site.url}}/images/pic09.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Dagny Gammelsæter</a></h3>
							</header>
							<p>
								Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
								porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
							</p>
						</article>
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured"><img src="{{site.url}}/images/pic09.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Sara Marjanovic</a></h3>
							</header>
							<p>
								Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
								porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
							</p>
						</article>
					</div>

					<br><br>

					<div class="row padding_custom10">
						
						<article class="col-4 col-12-mobile special">
							<a href="#" class="image featured"><img src="{{site.url}}/images/pic09.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Rene Huster</a></h3>
							</header>
							<p>
								Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
								porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
							</p>
						</article>
						
					</div>

				</div>

			</div>


			<div class="grayline"></div>

{% include footer.html %}
